*
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin: 3rem auto;
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 2rem;
    font-family: Arial, sans-serif;
    border: 2.5px solid #e5e7eb;
    border-radius: 8px;
    padding: 3rem 5rem;
    max-height: 90vh;
    overflow-y: auto;
}

.title {
    color: #2563eb;
    margin: auto;
}

.counter {
    font-size: 20px;
    margin: 10px 0;
}

.button {
    padding: 8px 16px;
    background-color: #16a34a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.25rem;
}

    .button:hover {
        background-color: #15803d;
    }

button:disabled {
    opacity: 2;
    cursor: not-allowed;
}

.currency-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.currency-item {
    border: 1px solid #e5e7eb;
    padding: 10px 14px;
    margin-bottom: 8px;
    border-radius: 6px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    gap:2rem;
}

.error {
    color: #dc2626;
    margin: auto;
    font-weight: bold;
    font-size: 1.5rem;
}
